[user]
	email = "brian@brianthicks.com"
	name = "Brian Hicks"
	signingkey = "417346963AB1D084CDCCFD35D969F6FA4CC8ABD6"

[alias]
	aa = "add --all"
	amend = "commit --amend"
	ci = "commit"
	co = "checkout"
	dc = "diff --cached"
	di = "diff"
	root = "rev-parse --show-toplevel"
	st = "status"
	yoda = "push --force-with-lease"
	fix-author = "rebase --exec 'git commit --amend --no-edit --reset-author' -r"

[core]
	fsmonitor = "true"

[filter "lfs"]
	clean = "git-lfs clean -- %f"
	process = "git-lfs filter-process"
	smudge = "git-lfs smudge -- %f"
	required = true

[init]
	defaultBranch = "main"

[push]
	autoSetupRemote = true

[rerere]
	enabled = true

[commit]
	gpgSign = true

[tag]
	gpgSign = true
